textarea{resize:none; min-height: 120px;}


.form-msg{margin-left: 0px; margin-bottom: 10px; padding-left: 15px; display: none;}
.form-msg .fa{position: relative; top: 0; left: 0;  border-radius: 0; border: 0px; text-align: left; width: auto; margin: 0px; display: inline-block; height: auto; line-height: normal;}
.ellipsis{
	text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
    padding-bottom: 3px;
}
.line-through{text-decoration: line-through;}
.hidden{
	display: none;
}
.content-box{
	padding: -px 0px;
	overflow: hidden;
	background-color: #fff;
	box-shadow: 0px 1px 2px #ccc;
	border-radius: 2px;
	margin-bottom: 10px;
}
	.content-box-body{
		padding: 0px 15px;
	}
	.content-box-detail{
		padding: 8px 15px;
		background-color: #f2f2f2;
	}
.mb-0{margin-bottom: 0px;}
.mb-10{margin-bottom: 10px;}
.white-bg{
	background-color: #fff;
}
.toggle-tab{
	background-color: #fff;
	border: 1px solid #ddd;
	margin-bottom: -1px;
}
	.toggle-tab-header{
		padding: 5px 10px;
		font-weight: bold;
		border-bottom: 1px solid #ddd;
		cursor: pointer;
	}
	.toggle-tab-content{
		padding: 5px 10px;
		background-color: #f8f8f8;
		display: none;
	}

#variants-container{
	display: none;
}
	#variants-container.active{
		display: block;
	}
#popup{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0; left: 0;
	background-color: #000;
	z-index: 1000000;
	display: none;
}
	.gallery-img{
		width: 100%;
		height: 160px;
		overflow: hidden;
	}

	.delete-btn{position: absolute; margin: 3px; }
	.img-responsive{width: 100%;}

#logo-container{
	height: 80px;
	background-color: #444;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 60px;
	margin-bottom: 10px;
}
#product-img-container{
	background-color: #fff;
	overflow: hidden;
	padding: 10px 10px;
}
	.product-img-item{
		border: 1px solid #f2f2f2;
		position: relative;
		padding: 0px; margin-bottom: 10px;
	}
	.product-img-item img{
		width: 100%;
	}
	.product-img-item:hover .product-img-button{
		opacity: 1;
	}
	.product-img-button{
		top: 0; left: 0;
		width: 100%; height: 100%;
		position: absolute;
		background:rgba(0,0,0,0.3);
		opacity: 0;
		transition: all 0.3s;
	}
	.product-img-button > .button-container{
		width: 50px;
		height: 25px;
		position: absolute;
		margin-left: -25px; margin-top: -13px;
		left: 50%; top: 50%;
	}
	.button-container > .btn{
		background: rgba(255,255,255,0.7);
		color: #333;
	}
	.button-container > .btn:hover{
		background: rgba(255,255,255,1);
		color: #000;
	}

.category-item{
	display: table;
	width: 100%;
	padding: 10px 15px;
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
	margin: 0 -15px;
}
.category-chk{
	width: 30px;
	display: table-cell;
}
.category-name{display: table-cell;}

.table > thead {border-top: 1px solid #ddd;}
#loading-overlay{
	background: rgba(0,0,0,0.2);
	width: 100%; height: 100%;
	position: fixed; z-index: 100000;
	top: 0px;
	display: none;
}
	#loading{
		width: 40px; height: 40px;
		position: fixed; left: 50%; margin-left: -20px;
		top: 50%; margin-top: -20px; background-color: #000; border-radius: 5px; border: 1px solid #444;
		color: #fff; line-height: 40px; font-size: 24px; text-align: center;
	}