
	#post-editor-header{padding:10px;background-color:#444;width:100%;overflow:hidden;border-radius:3px 3px 0px 0px;}
		.editor-menu{padding:3px 8px;border-radius:3px;background-color:#222;color:#fff;float:left;margin-right:3px;cursor:pointer;font-size:14px;}
		.editor-menu:hover{background-color:#333;}
.post-textarea{resize:none;padding:10px;width:100%;height:150px;overflow:auto;font-size:12px;border-radius:0px 0px 3px 3px; border: 1px solid #999; font-size: 14px;}
.post-textarea:focus{outline:none;}		