div.tagsinput { border:1px solid #CCC; background: #FFF; padding: 5px 5px; width:100%; overflow-y: auto;}
div.tagsinput span.tag { border: 1px solid #367fa9; -moz-border-radius:2px; -webkit-border-radius:2px; display: block; float: left; padding: 0px 5px; text-decoration:none; background: #3c8dbc; color: #fff; margin-right: 5px; margin-bottom:1px; font-size:12px;}
div.tagsinput span.tag a { font-weight: bold; color: #fff; text-decoration:none; font-size: 13px;  }
div.tagsinput input { width:168px; margin:0px; font-size: 13px; border:1px solid transparent; background: transparent; color: #000; outline:0px; padding: 1px 0px; margin-bottom: 1px;  margin-right:5px;}
div.tagsinput div { margin-bottom: 0px; padding: 0px; line-height: normal; display:block; float: left; }
.tags_clear { clear: both; width: 100%; height: 0px; }
.not_valid { background: #FBD8DB !important; color: #90111A !important;}