::selection{
  background: color('primary');
  color: color('foreground', 'invert');
  text-shadow: none;
}
::-moz-selection{
  background: color('primary');
  color: color('foreground', 'invert');
  text-shadow: none;
}
::-webkit-selection{
  background: color('primary');
  color: color('foreground', 'invert');
  text-shadow: none;
}