/* ==========================================================================
   Pagination Build on top CSSKit
   ========================================================================== */

// Here we set a variable assuming that default and module settings
// are not set globally. If they have been previously been defined,
// the following variable will be overriden and will be set to `true`.
$imported-default-settings: false !default;

@if ($imported-default-settings == false) {
  @warn "Oops! Have you included default settings and module settings files?"
}


// VARS
$pagination-namespace:          $namespace !default;
$pagination-border-color:       #EEEEEE !default;
$pagination-border-thickness:   0 !default;
$pagination-border-style:       solid !default;
$pagination-border-radius:      0 !default;
$pagination-padding:            rem-calc(quarter($base-spacing-unit)) !default;
$pagination-padding--large:     rem-calc(halve($base-spacing-unit)) !default;
$pagination-link-color:         $base-text-color !default;
$pagination-active-link-color:  color('background','light') !default;
$pagination-active-bg:          color('primary', 'dark');

$enable-pagination-bleed:       false !default;
$enable-pagination-large:       false !default;
$enable-pagination-seperate:    false !default;
$enable-pagination-responsive:  true !default;


.#{$pagination-namespace}pagination{
  @extend %#{$list-inline-namespace}list-inline;
}
  .#{$pagination-namespace}pagination__item{
    @extend  %#{$list-inline-namespace}list-inline__item;
  }

  .#{$pagination-namespace}pagination__link{
    display: inline-block;
    padding: $pagination-padding;
    line-height: 1;
    color: $pagination-link-color;
    border-width: $pagination-border-thickness;
    border-style: $pagination-border-style;
    border-color: $pagination-border-color;
    border-radius: $base-radius;

    &:hover,
    &:active{
      color: $pagination-active-link-color;
      background-color: color-level($pagination-active-bg, 2);
    }

    &.is-disabled{
      color: rgba($pagination-link-color, 0.4);
      pointer-events: none;
    }

    &.is-active{
      border-color: $pagination-active-bg;
      color: $pagination-active-link-color;
      background-color: $pagination-active-bg;
    }

    &.is-empty{
      border-width: 0;
    }
  }

/*
   DIFFERENT VARIANT
   ========================================================================== */

// no spacing between link
@if $enable-pagination-bleed {

  .#{$pagination-namespace}pagination--bleed{
    font-size: 0;

    .#{$pagination-namespace}pagination__link{
      font-size: rem-calc($base-font-size);
      border-left-width: $pagination-border-thickness;
      border-right-width: 0;
      border-radius: 0;

      &.is-empty{
        border-top-width: $pagination-border-thickness;
        border-bottom-width: $pagination-border-thickness;
      }

      &.is-button:first-of-type{
        border-radius: $base-radius 0 0 $base-radius;
      }

      &.is-button:last-of-type{
        border-right-width: $pagination-border-thickness !important;
        border-radius: 0 $base-radius $base-radius 0;
      }

    }

  }

}


// Seperate Pagination: move next and prev button to the opposite side
@if $enable-pagination-seperate {

  .#{$pagination-namespace}pagination--seperate{
    @extend %clearfix;
    text-align: center;

    > .#{$pagination-namespace}pagination__item:first-of-type{
      float: left;
    }

    > .#{$pagination-namespace}pagination__item:last-of-type{
      float: right;
    }
  }

}


// pagination large, larger padding for the pagination link
@if $enable-pagination-large {

  .#{$pagination-namespace}pagination--large .#{$pagination-namespace}pagination__link{
    font-size: rem-calc($base-font-size * 1.125);
    padding: $pagination-padding--large;
  }

}


// Only show pagination button (prev, next, first, last) in small viewport
@if $enable-pagination-responsive {

  @media #{$medium-down}{
    .#{$pagination-namespace}pagination--responsive .#{$pagination-namespace}pagination__link:not(.is-button){
      display: none;
    }
  }

}