$logo-height: 60px;
$logo-width-small: 70px;
$logo-width-large: 290px;

.site-nav{
  font-size: rem-calc(12);
  line-height: 2;

  @media only screen and (min-width: em-calc(551)){
    font-size: rem-calc(16);
  }
}
  .site-nav__logo{
    position: relative;
    display: block;
    width: rem-calc($logo-width-small);
    height: rem-calc($logo-height);
    float: left;

    @media #{$large-up}{
      width: rem-calc($logo-width-large);
    }
  }
  .site-nav__logo-img{
    position: absolute;
    top: 50%;
    left: 0;

    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }

  .site-nav__phone{
    display: none;
    font-weight: 500;

    @media only screen and (min-width: em-calc(551)){
      display: block;
      padding-right: rem-calc(halve($base-spacing-unit));
      padding-left: rem-calc(halve($base-spacing-unit));
      text-align: right;
      line-height: rem-calc( halve($logo-height) );
      color: color('primary');
    }
  }

  .site-nav__list{
    margin: 0;
    padding: 0 0 0 rem-calc(halve($base-spacing-unit));
    list-style-type: none;
    overflow: hidden;
    @media only screen and (min-width: em-calc(551)){
      float: right;
      overflow: visible;
    }
  }

    .site-nav__item{
      float: left;
      width: 50%;
      @media only screen and (min-width: em-calc(551)){
        width: auto;
      }
    }

      .site-nav__link{
        display: block;
        padding-right: rem-calc(halve($base-spacing-unit));
        padding-left: rem-calc(halve($base-spacing-unit));

        line-height: rem-calc( halve($logo-height) );
        color: color('primary');

        transition: all 0.3s ease-out;

        &:hover,
        &:focus{
          background-color: rgba(color('primary'), 0.5);
          color: color('background', 'light');
        }

        &.is-active{
          background-color: color('primary');
          color: color('background', 'light');
        }
      }