.icon {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon--large{
  font-size: rem-calc(double($base-font-size));
}
.icon--huge{
  font-size: rem-calc($base-font-size * 3);
}

.icon--footer{
  font-size: rem-calc(double($base-font-size));

  @media #{$medium-up}{
    font-size: rem-calc($base-font-size * 3);
  }
}
/* =======================================================================================
Example showing how to change the color/size of the icons:
.icon--name {
  font-size: 32px; // works because "width" & "height" were set using em units
  color: red; // works for single-colored icons, because "fill" was set to "currentColor"
}
======================================================================================== */
// .icon--mail{
//   top: 0.1em;
// }