$breadcrumb-font-size:            1rem !default;
$breadcrumb-font-color:           color('foreground') !default;
$breadcrumb-active-font-weight:   700 !default;

$breadcrumb-separator-content:     "\00BB" !default;
$breadcrumb-separator-font-size:  1rem !default;
$breadcrumb-separator-font-color: #aaaaaa !default;
$breadcrumb-separator-font-color: #aaaaaa !default;


.breadcrumb{
  font-size: $breadcrumb-font-size;
  // color: rgba(color('foreground'),0.8);

  @extend %#{$list-inline-namespace}list-inline;

  &__item{
    @extend %#{$list-inline-namespace}list-inline__item;
    &:before{
      content: $breadcrumb-separator-content;
      // color: $breadcrumb-separator-font-color;
      font-size: $breadcrumb-separator-font-size;
      margin-right: 5px;
      margin-left: 5px;
      position: relative;
      top: -.1em;
    }

    &:first-child:before{
      content: '';
      margin: 0;
    }

    &:last-child > &__link{
      font-weight: $breadcrumb-active-font-weight;
    }
  }
}
