/* ==========================================================================
   Alert Box
   ========================================================================== */

// Here we set a variable assuming that default and module settings
// are not set globally. If they have been previously been defined,
// the following variable will be overriden and will be set to `true`.
$imported-default-settings: false !default;

@if ($imported-default-settings == false) {
  @warn "Oops! Have you included default settings and module settings files?";
}

// VARS
$alert-border-width: rem-calc(3);
$alert-border-style: solid;


.alert{
  position: relative;
  display: block;
  padding: rem-calc(halve($base-spacing-unit));
  margin-bottom: rem-calc($base-spacing-unit);

  border-left-color: color-level(#EEEEEE, -2);
  border-left-width: 4px;
  border-left-style: solid;

  background-color: #EEEEEE;

  @include transition(opacity);
}

  .alert__heading{
    font-weight: 500;
    margin-bottom: rem-calc(halve($base-spacing-unit));
  }
  .alert__content{
    margin: 0;
  }
  .alert__close{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.7;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1;
    cursor: pointer;
    padding: rem-calc(5);
  }

.alert--error{
  background-color: color('alert');
  border-left-color: color('alert', 'dark');

  color: foreground-color( color('alert'), color('foreground'), color('foreground', 'invert'), 70%);

  .alert__close{
    color: color('alert', 'dark');
  }
}

.alert--success{
  background-color: color('success');
  border-left-color: color('success', 'dark');

  .alert__close{
    color: color('success', 'dark');
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.alert-in,
.alert-out{
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.alert-in.alert--success{
  -webkit-animation-name: bounceInDown;
          animation-name: bounceInDown;

  -webkit-animation-duration: .75s;
          animation-duration: .75s;
}
.alert-in.alert--error{
  -webkit-animation-name: shake;
          animation-name: shake;
}

.alert-out{
  -webkit-animation-name: fadeOutUp;
          animation-name: fadeOutUp;

  -webkit-animation-duration: .7s;
          animation-duration: .7s;
}