/* Required rules for Slick Slider */
@import 'slick-carousel/slick/slick.scss';

.slick-slide{
  outline: none;

  img {
    margin-left: auto;
    margin-right: auto;
  }
}

.slide-nav{
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: z('default');

  line-height: 0;
  width: rem-calc(40);
  height: rem-calc(40);
  padding: 0;

  cursor: pointer;

  color: color('foreground', 'invert');
  border: none;
  outline: none;
  background: color('primary');

  &.slide-nav--prev{
    left: 0;
  }
  &.slide-nav--next{
    right: 0;
  }
}

.slide-nav.slick-disabled{
  opacity: .25;
}

.slide-wrapper{
  display: block;
  width: 100%;
  max-width: rem-calc(1440);
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.slide{
  height: rem-calc(200);
  overflow: hidden;

  @media #{$large-up}{
    height: rem-calc(500);
  }
  &.slick-initialized {
    height: auto !important;
    overflow: visible;
  }
}

  .slide__item{
    display: block;
  }

/* Dots */

.slick-dots
{
  position: absolute;
  bottom: rem-calc($base-spacing-unit);
  z-index: z('default');

  display: block;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;

  text-align: center;
}
.slick-dots li
{
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button
{
  font-size: 0;
  line-height: 0;

  display: block;
  position: relative;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
  opacity: 1;
}
.slick-dots li button:before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: .25;
  line-height: 1;

  background: color('primary');
}

.slick-dots li.slick-active button:before
{
  opacity: .75;
  color: black;
}