/* ==========================================================================
   PAGE HEAD
   ========================================================================== */

// Here we set a variable assuming that default and module settings
// are not set globally. If they have been previously been defined,
// the following variable will be overriden and will be set to `true`.
$imported-default-settings: false !default;

@if ($imported-default-settings == false) {
  @warn "Oops! Have you included default settings and module settings files?";
}


.page-wrapper{
  position: relative;
  width: 100%;
  max-width: $container-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: rem-calc(halve($base-spacing-unit));
  padding-right: rem-calc(halve($base-spacing-unit));

  @extend %clearfix;
}
.page-head{
  padding-top: rem-calc(halve($base-spacing-unit));
  padding-bottom: rem-calc(halve($base-spacing-unit));
  border-bottom: 4px solid color('primary');
  background-color: color('background', 'light');
}

.page-title{
  color: color('primary');
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
}

.page-section{
  padding-top: rem-calc($base-spacing-unit);
  padding-bottom: rem-calc($base-spacing-unit);

  &.page-section--small{
    padding-top: rem-calc(halve($base-spacing-unit));
    padding-bottom: rem-calc(halve($base-spacing-unit));
  }

  &.page-section--gray{
    background-color: color('background');
  }
}

.page-footer{
  padding-top: rem-calc($base-spacing-unit);
  padding-bottom: rem-calc($base-spacing-unit);
  background-color: color('primary', 'light');
  color: color('background', 'light');

  .page-title{
    color: foreground-color(color('primary', 'light'), color('primary'), color('background', 'light'));
  }

  a{
    color: color('background', 'light');

    &:hover{
      color: color-level(color('background', 'light'), -2);
    }
  }
}