.hero{
  display: block;
  position: relative;
}

  .hero__banner{
    height: rem-calc(200);
    background-size: cover;
    background-position: center;
    background-image: url('../images/hero-mobile.jpg');

    @media #{$medium-up}{
      height: rem-calc(400);
      background-image: url('../images/hero.jpg');
    }
    @media #{$large-up}{
      height: rem-calc(580);
    }
  }

  @media #{$medium-up}{
    .hero__content{
      width: 100%;
      position: absolute;
      left: 0;
      top: 70%;
      transform: translate(0, -50%);
    }
  }

.hero__cta{
  background-color: color('primary', 'dark');
  color: foreground-color(color('primary', 'dark'), $threshold: 65%);
}
.hero__cta-btn{
  display: block;
}

@media #{$medium-up}{
  .hero__cta{
    display: inline-block;
  }
  .hero__cta-btn{
    width: rem-calc(210);
  }
}