/* ==========================================================================
   HAMBURGER ICON BAR
   ========================================================================== */
// VARS
$bar-width: rem-calc(30) !default;
$bar-height: rem-calc(30) !default;
$bar-bg-color: color-level( color('foreground'), -2 ) !default;
$bar-thickness: rem-calc(2) !default;
$bar-padding: rem-calc(quarter($base-spacing-unit)) !default;
$bar-spacing: (($bar-height / 2) - ($bar-thickness) - $bar-padding) !default;
$bar-transition-delay: 0.2s !default;

.icon-hamburger{
  position: relative;
  display: inline-block;
  height: $bar-height;
  width: $bar-width;
  padding: $bar-padding;
  font-size: 0;
  text-indent: -9999px;

  outline: none;
  vertical-align: middle;

  // uncomment for rotate effect
  @include transition(transform);
}
  .icon-hamburger__bar{
    position: absolute;
    display: block;
    width: $bar-width - $bar-padding;
    height: $bar-thickness;
    background-color: $bar-bg-color;

    @include vh-middle;

    &::before,
    &::after{
      content: '';
      position: absolute;
      left: 0;
      background: inherit;
      width: 100%;
      height: 100%;
      @include transform(translateZ(0));

      transition-duration: $bar-transition-delay, $bar-transition-delay;
      transition-delay: $bar-transition-delay, 0;

    }

    &:before{
      top: -$bar-spacing;
      transition-property: top, transform;
    }

    &:after{
      bottom: -$bar-spacing;
      transition-property: bottom, transform;
    }

    // tranform effect
    .is-open > &{
      background: none;
      &:before,
      &:after{
        background-color: $bar-bg-color;
        transition-delay: 0, $bar-transition-delay;
      }
      &:before{
        top: 0;
        @include transform(rotate(45deg));
      }
      &:after{
        bottom: 0;
        @include transform(rotate(-45deg));
      }
    }
  }
