$footer-bg: color('primary') !default;
$footer-height:       rem-calc(70) !default;
$footer-border-width: rem-calc(5) !default;
$footer-link-padding: rem-calc(halve($base-spacing-unit)) !default;
$footer-link-line-height: $footer-height - ($footer-link-padding * 2) !default;
$footer-link-color: foreground-color( $footer-bg, color('foreground'), color('foreground', 'invert') );
$footer-link-size: rem-calc(13);
$footer-link-weight: 400;


.footer{
  display: block;
  min-height: $footer-height;
  border-top: $footer-border-width solid color('primary', 'light');
  box-sizing: content-box;
  background-color: $footer-bg;

  color: foreground-color( color('primary'), color('foreground'), color('foreground', 'invert') );

  @extend %clearfix;
}

  .footer__info{
    display: table;
    height: $footer-height;
    float: left;
    line-height: 1.1;
  }
    .footer__info__item{
      display: table-cell;
      vertical-align: middle;
      font-size: rem-calc(12);
      line-height: 1.1;
    }

  .footer__nav{
    font-size: 0;
    @extend %#{$list-inline-namespace}list-inline;
  }
    .footer__nav__item{
      display: inline-block;
      vertical-align: top;
    }

      .footer__nav__link{
        position: relative;
        display: block;
        height: $footer-height;
        padding: $footer-link-padding;
        color: $footer-link-color;
        font-size: $footer-link-size;
        font-weight: $footer-link-weight;
        line-height: $footer-link-line-height;

        // @if ($topbar-link-uppercase) {
        //   text-transform: uppercase;
        // }

        // .is-dropdown &{
        //   color: $topbar-link-color-hover;
        // }
        transition: background 200ms ease-out,
                    color 200ms ease-out;
        &:hover,
        &:active,
        &.is-active{
          color: $footer-link-color;
          background-color: color('primary','dark');

          &::before{
            opacity: 1;
          }
        }

        // &::before {
        //   @include triangle(
        //     $direction : bottom,
        //     $position  : top 0,
        //     $color     : color('primary','light'),
        //     $size      : rem-calc(5)
        //   );
        //   left: 50%;
        //   transform: translate(-50%, 0);
        //   opacity: 0;
        // }
      }