/* ==========================================================================
   PRODUCT BLOCK
   ========================================================================== */

// Here we set a variable assuming that default and module settings
// are not set globally. If they have been previously been defined,
// the following variable will be overriden and will be set to `true`.
$imported-default-settings: false !default;

@if ($imported-default-settings == false) {
  @warn "Oops! Have you included default settings and module settings files?";
}

.product-block{
  position: relative;
  margin: 0;
  // padding-top: rem-calc(halve($base-spacing-unit));
  padding-bottom: rem-calc(halve($base-spacing-unit));
  text-align: center;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: color('primary');
}

  .product-block__overlay{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(color('primary', 'light'), 0.5);

    z-index: z('default') + 1;

    &,
    &:hover,
    &:focus{
      color: #FFFFFF;
    }
    opacity: 0;
    visibility: hidden;

    transition: all 0.3s ease-out;

    .product-block:hover > &{
      opacity: 1;
      visibility: visible;
    }
  }

    .product-block__overlay__icon{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

  .product-block__img{
    display: block;
    // width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: rem-calc(halve($base-spacing-unit));

    // &.product-block__img--category{
    //   width: rem-calc(128);
    //   height: rem-calc(128);
    // }
  }

  .product-block__caption{
    font-size: rem-calc(14);
  }

    .product-block__title{
      margin-bottom: rem-calc(halve($base-spacing-unit));
      font-weight: 500;
      color: color('primary', 'light');
    }

    .product-block__desc{}