.block-list{
  display: block;
  padding: 0;
  margin: 0 rem-calc(halve(-$base-spacing-unit));

  @extend %clearfix;

  &__item{
    list-style: none;
    display: block;
    float: left;
    height: auto;
    padding: 0 rem-calc(halve($base-spacing-unit)) rem-calc($base-spacing-unit);

    .block-list--small-1 > & {
      width: 100%;
    }
    .block-list--small-1 > &:nth-of-type(1n) {
      clear: none;
    }
    .block-list--small-1 > &:nth-of-type(1n+1) {
      clear: both;
    }

    .block-list--small-2 > & {
      width: 50%;
    }
    .block-list--small-2 > &:nth-of-type(1n) {
      clear: none;
    }
    .block-list--small-2 > &:nth-of-type(2n+1) {
      clear: both;
    }

    @media #{$medium-up}{
      .block-list--medium-2 > & {
        width: 50%;
      }
      .block-list--medium-2 > &:nth-of-type(1n) {
        clear: none;
      }
      .block-list--medium-2 > &:nth-of-type(2n+1) {
        clear: both;
      }

      .block-list--medium-3 > & {
        width: 33.33333%;
      }
      .block-list--medium-3 > &:nth-of-type(1n) {
        clear: none;
      }
      .block-list--medium-3 > &:nth-of-type(3n+1) {
        clear: both;
      }
    }

    @media #{$large-up}{
      .block-list--large-3 > & {
        width: 33.33333%;
      }
      .block-list--large-3 > &:nth-of-type(1n) {
        clear: none;
      }
      .block-list--large-3 > &:nth-of-type(3n+1) {
        clear: both;
      }

      .block-list--large-4 > & {
        width: 25%;
      }
      .block-list--large-4 > &:nth-of-type(1n) {
        clear: none;
      }
      .block-list--large-4 > &:nth-of-type(4n+1) {
        clear: both;
      }
    }

  }

}
