/* ==========================================================================
   SIDEBAR
   ========================================================================== */

// Here we set a variable assuming that default and module settings
// are not set globally. If they have been previously been defined,
// the following variable will be overriden and will be set to `true`.
$imported-default-settings: false !default;

@if ($imported-default-settings == false) {
  @warn "Oops! Have you included default settings and module settings files?";
}

$sidebar-border-color: #DDDDDD;

.sidebar{
  border: 1px solid $sidebar-border-color;
  border-radius: $base-radius;
  margin-bottom: rem-calc($base-spacing-unit);

  @media #{$medium-up}{
    margin-bottom: 0;
  }
}
  .sidebar__head{
    padding: rem-calc(halve($base-spacing-unit));
  }
  .sidebar__list{
    margin: 0;
    padding: 0;
    list-style-type: none;

    &.sidebar__list--submenu{
      width: 100%;
      display: none;

      // @media #{$medium-up}{
      //   position: absolute;
      //   top: 0;
      //   left: 100%;
      //   z-index: z('default') + 1;
      // }

      .is-hover > &,
      .is-open > &{
        display: block;
      }
    }
  }

  .sidebar__item{
    display: block;
    border-top: 1px solid $sidebar-border-color;

    &.has-submenu{
      position: relative;
    }
  }

    .sidebar__link{
      position: relative;
      display: block;
      padding: rem-calc(quarter($base-spacing-unit)) rem-calc(halve($base-spacing-unit));

      border-left-width: 3px;
      border-left-style: solid;
      border-left-color: transparent;

      .is-hover > &,
      .is-active > &{
        border-left-color: color('primary');
      }
      .sidebar__list--submenu &{
        color: #FFFFFF;
        background-color: color('primary');
      }
      .sidebar__list--submenu &.is-active,
      .sidebar__list--submenu &:hover{
        background-color: color('primary', 'light');
      }
    }

      .sidebar__icon{
        position: absolute;
        right: rem-calc(halve($base-spacing-unit));
        top: 50%;
        z-index: z('default') + 1;
        transform: translate(0, -50%);

        .is-open > .sidebar__link > &{
          transform: translate(0, -50%) rotate(90deg);
        }

        // @media only screen and (min-width: em-calc(721)){
        //   transform: translate(0, -50%) rotate(0deg);
        //   .is-open > .sidebar__link > &{
        //     transform: translate(0, -50%) rotate(0deg);
        //   }
        // }
      }