// .wrapper{
//   position: relative;
//   width: 100%;
//   max-width: $container-width;
//   margin-left: auto;
//   margin-right: auto;
//   padding-left: rem-calc(halve($base-spacing-unit));
//   padding-right: rem-calc(halve($base-spacing-unit));

//   @extend %clearfix;
// }