.btn{
  font-weight: 500;
}

.btn--with-icon{
  position: relative;
}

.btn__text,
.btn__icon{
  display: inline-block;
  vertical-align: middle;
}

.btn--secondary{
	@include buttons-style( $background: color('primary') );
}