.block--cta{
  background-color: color('primary', 'dark');
  color: foreground-color(color('primary', 'dark'), $threshold: 65%);
}

@media #{$medium-up}{
  .block--cta{
    width: rem-calc(200);
  }
}