$opacity: (
  'light': 0.8, // opacity used with lighter colors
  'dark': 0.4  // opacity used with darker colors
) !default;
@function transparency($color, $key: 'light') {
  $alpha : map-get($opacity, $key);
  @return rgba($color, $alpha);
}

// @function foreground-color($bgcolor, $color-dark, $color-light, $threshold: 30%) {
//   @return if( lightness($bgcolor) >= $threshold, $color-dark, $color-light );
// }

$color-interval: 10% !default;
@function color-level($color, $level: 0) {
  $color-base: if($level < 0, black, white);
  @return mix($color-base, $color, abs($level) * $color-interval);
}

$color-disabled: #999999;

$color-key: 'base' !default;

$colors: (
  'primary': (
    'base' : #1076ca,
    'light': #25aae2,
    'dark' : color-level(#25aae2, -2)
  ),
  'accent': (
    'base' : #fdfd21,
    'light': color-level(#fdfd21, 2),
    'dark' : color-level(#fdfd21, -2)
  ),
  'foreground': (
    'base' : #505050,
    'invert': #FFFFFF
  ),
  'background': (
    'base' : #F7F7F7,
    'light': #FFFFFF
  ),
  'alert': (
    'base' : #F25F5C,
    'light': color-level(#F25F5C, 2),
    'dark' :  color-level(#F25F5C, -2)
  ),
  'success': (
    'base' : #02C39A,
    'light': color-level(#02C39A, 2),
    'dark' :  color-level(#02C39A, -2)
  )
) !default;
@function color(
  $name: 'primary',
  $variant: $color-key
) {
  $color: null;

  // Get the color spectrum
  $color-spectrum: map-get($colors, $name);

  // Get the color variant
  @if $color-spectrum{
    $color: map-get($color-spectrum, $variant);
    @return $color;
  } @else{
    @warn "Unknown `#{$variant}` in $colors.";
    @return null;
  }

}