@charset "UTF-8";
/* ==========================================================================
   Framework Main File
   ========================================================================== */
/**
 * YOU SHOULD PREDEFINE THE VARIABLES BEFORE IMPORT THE RELEVANT FILES
 */
/*
   TOOLS
   ========================================================================== */
/* ==========================================================================
   FUNCTIONS
   ========================================================================== */
/*
   Strip Unit
   ========================================================================== */
/*
   CONVERT TO REM
   ========================================================================== */
/*
   Rem calc
   ========================================================================== */
/**
 * New Syntax, allows to optionally calculate on a different base value to counter compounding effect of rem's.
 * Call with 1, 2, 3 or 4 parameters, 'px' is not required but supported:
 * rem-calc(10 20 30px 40);
 * Space delimited, if you want to delimit using comma's, wrap it in another pair of brackets
 *
 *  rem-calc((10, 20, 30, 40px));
 *
 * Optionally call with a different base (eg: 8px) to calculate rem.
 *
 *  rem-calc(16px 32px 48px, 8px);
 *
 * If you require to comma separate your list
 *
 *  rem-calc((16px, 32px, 48), 8px);
 *
 *
 */
/*
   Math Helpers.
   ========================================================================== */
/**
 * Half and double numbers, returning rounded integers. E.g.:
 * .foo{
 *  padding: halve(30px)
 * }
 */
/* ==========================================================================
   Grid Mixin, create complex layout ON DEMAND!
   ========================================================================== */
/**
 * In a world of agile development and
 * super-tablet-multi-magic-laptop-phones,
 * the best layouts can't be contained in a
 * single framework or technique.
 * CSS Libraries are a bloated mess of opinions about how to do your job.
 * Why let the table-saw tell you where to put the kitchen?
 * If we can create them ourself?
 */
/*
   Grid Functions
   ========================================================================== */
/*
   Grid Row
   ========================================================================== */
/**
 * For creating container, nested, and bleeded rows
 * @param:
 *
 * $max-width, Given max-width value for the container. Default: $container-width.
 * $behavior - Any special behavior for this row? Default: false. Options: nest, bleed, nest-bleed, false.
 */
/* close grid-row */
/*
   Grid Column
   ========================================================================== */
/**
 * Creates a column, should be used inside of a media query to control layouts
 *
 * @params:
 *
 * $columns - The number of columns this should be
 * $total-columns - The number of total columns
 * $last-column - Is this the last column? Default: false.
 * $center - Center these columns? Default: false.
 * $offset - # of columns to offset. Default: false.
 * $push - # of columns to push. Default: false.
 * $pull - # of columns to pull. Default: false.
 * $bleed - Get rid of gutter padding on column? Default: false.
 * $float - Should this float? Default: true. Options: true, false, left, right.
 * $position - relative position, push and pull require position set. Default: false.
 */
/* close grid-column */
/*
   How To Use
   ========================================================================== */
/**
 * Mobile First Example
 *
 * .container{
 *   @include grid-row;
 * }
 *
 * .aside{
 *   @media condition{
 *     @include grid-column(4);
 *   }
 * }
 *
 * .content{
 *   @media condition{
 *     @include grid-column(8, $last:true);
 *   }
 * }
 */
/*
   Font Size Mixin
   ========================================================================== */
/*
 * Create a fully formed type style (sizing and vertical rhythm) by passing in a
 * single value, e.g.:
 *
 * .foo {
 *   @include font-size(12px);
 * }
 *
 * This will generate a rem-based font-size as well as
 * a unitless line-height which will place the element on your baseline, e.g.:
 *
 * .foo {
 *   font-size: 0.75rem;
 *   line-height: 2;
 * }
 *
 * If you do not want csskit to generate you a line-height automatically, you
 * simply pass in your own as a second paramater:
 *
 * .foo {
 *   @include font-size(12px, 1.5);
 * }
 *
 * This will yield:
 *
 * .foo {
 *   font-size: 0.75rem;
 *   line-height: 1.5;
 * }
 *
 * This parameter can be any integer, 'inherit', or 'normal'. If you don't want
 * a line-height at all, pass in a second paramater of 'none' or 'false':
 *
 * .foo {
 *   @include font-size(12px, none);
 * }
 *
 * This will yield:
 * .foo {
 *   font-size: 12px;
 *   font-size: 0.75rem;
 * }
 */
/**
 * Usage
 *
  $dark-background-color: #333;
  $light-text-color: white;

  $light-background-color: #eee;
  $dark-text-color: black;

  .dark-background {
    background: $dark-background-color;
    color: contrasting-color($dark-background-color, $light-text-color, $dark-text-color);
  }

  .light-background {
    background: $light-background-color;
    color: contrasting-color($light-background-color, $light-text-color, $dark-text-color);
  }
  *
*/
/* ==========================================================================
   Tools Responsive
   ========================================================================== */
/*
   Ranges
   ========================================================================== */
/*
   Box Sizing
   ========================================================================== */
/**
 * Border box mixin
 * @param   $type: border-box
 */
/*
   Clearfix hack by Nicolas Gallagher (https://github.com/necolas)
   ========================================================================== */
/**
 * We use this to do clear floats
 */
/* ==========================================================================
   Common css3 mixin
   ========================================================================== */
/*
   Double borders
   ========================================================================== */
/*
   Transform
   ========================================================================== */
/*
   Transition
   ========================================================================== */
/*
   Triangle
   ========================================================================== */
/*
   Vertical Middle
   ========================================================================== */
/*
   Horizontal Middle
   ========================================================================== */
/*
   VH middle
   ========================================================================== */
/*
   Border Radius
   ========================================================================== */
/**
 * @mixin triangle($size, $color, $direction: 'up') {
  width: 0;
  height: 0;

  @if $direction == 'up' {
    border-right: $size solid transparent;
    border-bottom: $size * 1.732 solid $color;
    border-left: $size solid transparent;
  } @else if $direction == 'down' {
    border-top: $size * 1.732 solid $color;
    border-right: $size solid transparent;
    border-left: $size solid transparent;
  } @else if $direction == 'left' {
    border-top: $size solid transparent;
    border-right: $size * 1.732 solid $color;
    border-bottom: $size solid transparent;
  } @else if $direction == 'right' {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size * 1.732 solid $color;
  }
}

@mixin corner-triangle($size, $color, $corner: 'top-left') {
  width: 0;
  height: 0;

  @if $corner == 'top-left' {
    border-top: $size solid $color;
    border-right: $size solid transparent;
  } @else if $corner == 'top-right' {
    border-top: $size solid $color;
    border-left: $size solid transparent;
  } @else if $corner == 'bottom-left' {
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
  } @else if $corner == 'bottom-right' {
    border-bottom: $size solid $color;
    border-left: $size solid transparent;
  }
}
 */
/*
   SETTINGS
   ========================================================================== */
/**
 * Global variables, site-wide settings, config switches, etc.
 *
 * These variables are framework variables, sourced from variables defined
 * above. Feel free to use these variables throughout your project, but do not
 * modify or reassign them.
 */
/*
   SETTINGS-BREAKPOINTS
   ========================================================================== */
/**
 * Hold our breakpoint range and conditions.
 *
 * These can be invoked later on using this line of code:
 *
 * @media conditions{
 *   @content;
 * }
 *
 * Using Relative Units for Widths
 *
 * You may have noticed that we use em for
 * our default CSS Media Query widths instead of px.
 * This was a conscious decision since it
 * allows the Media Queries to respond appropriately
 * when people zoom the webpage.
 * Check out this article by Brad Frost
 * http://bradfrostweb.com/blog/post/7-habits-of-highly-effective-media-queries/#relative
 * for some background information on using relative units
 * within Media Queries.
 */
/*
   Media Query Conditions
   ========================================================================== */
/**
 * Would you like classes to be prepended with a namespace? If so,
 * define it here.
 */
/* ==========================================================================
   DEFAULTS
   ========================================================================== */
/**
 * THESE VARIABLES ARE DEFAULT; DO NOT MODIFY OR ADJUST THE VARIABLES DIRECTLY.
 * YOU SHOULD PREDEFINE THE VARIABLES IN
 * YOUR OWN MAIN FILES BEFORE INCLUDE THIS FILE.
 */
/*
   High-level base settings.
   ========================================================================== */
/**
 * These variables are framework variables, sourced from variables defined
 * above. Feel free to use these variables throughout your project, but do not
 * modify or reassign them.
 */
/*
   SETTINGS-BREAKPOINTS
   ========================================================================== */
/**
 * Hold our breakpoint range and conditions.
 *
 * These can be invoked later on using this line of code:
 *
 * @media conditions{
 *   @content;
 * }
 *
 * Using Relative Units for Widths
 *
 * You may have noticed that we use em for
 * our default CSS Media Query widths instead of px.
 * This was a conscious decision since it
 * allows the Media Queries to respond appropriately
 * when people zoom the webpage.
 * Check out this article by Brad Frost
 * http://bradfrostweb.com/blog/post/7-habits-of-highly-effective-media-queries/#relative
 * for some background information on using relative units
 * within Media Queries.
 */
/*
   Media Query Conditions
   ========================================================================== */
/*
   Debuger
   ========================================================================== */
/*
   Namespace.
   ========================================================================== */
/**
 * Would you like classes to be prepended with a namespace? If so,
 * define it here.
 */
/**
 * If we have included this file, set a variable to tell the rest of the
 * framework that we have some base settings.
 */
/*
   GENERIC
   ========================================================================== */
/**
 *  Low-specificity, far-reaching rulesets (e.g. CSS resets)
 *
 * [1] Normalize
 * [2] Reset
 * [3] Box Sizing
 * [4] Shared
 */
/* [1] */
/* ==========================================================================
   NORMALIZE.CSS by by Nicolas Gallagher (https://github.com/necolas)
   ========================================================================== */
/* normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* [2] */
/* ==========================================================================
   RESET
   ========================================================================== */
/**
 * As well as using normalize.css, it is often advantageous to remove all
 * margins from certain elements.
 */
h1, h2, h3, h4, h5, h6,
p, pre, blockquote,
dl, dd, ol, ul,
form, fieldset, legend,
figure,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0; }

/**
 * Give a help cursor to elements that give extra info on `:hover`.
 */
abbr[title],
dfn[title] {
  cursor: help; }

/**
 * Remove underlines from potentially troublesome elements.
 */
u,
ins {
  text-decoration: none; }

/**
 * Apply faux underlines to inserted text via `border-bottom`.
 */
ins {
  border-bottom: 1px solid; }

/* [3] */
/* ==========================================================================
   BOX-SIZING
   ========================================================================== */
/**
 * Set the global `box-sizing` state to `border-box`.
 *
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 * paulirish.com/2012/box-sizing-border-box-ftw
 */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: border-box; }

/**
 * If we have included this file, set a variable to tell the rest of the
 * framework that global `box-sizing: border-box` has been set.
 */
/* [4] */
/*------------------------------------*    #SHARED
\*------------------------------------*/
/**
 * Where `margin-bottom` is concerned,this value will be the same as the
 * base line-height. This allows us to keep a consistent vertical rhythm.
 * As per: csswizardry.com/2012/06/single-direction-margin-declarations
 */
h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, p, address,
table,
fieldset, figure,
pre {
  margin-bottom: 1.75rem; }

/**
 * Where `margin-left` is concerned we want to try and indent certain elements
 * by a consistent amount. Define that amount once,here.
 */
ul, ol, dd {
  margin-left: 1.75rem; }

/*
   BASE
   ========================================================================== */
/**
 * Uncllassed HTML elements (eg. a{}, p{}, blockquote{} )
 *
 * [1] Page
 * [2] Headings
 * [3] Paragraphs
 * [4] Links
 * [5] Images
 * [6] List
 * [7] Hr
 * [8] Blockquote
 */
/* [1] */
/* ==========================================================================
   PAGE
   ========================================================================== */
/**
 * High, page-level styling.
 *
 * 1. Set the default `font-family`, `font-size` and `line-height` for the entire project,
 *    sourced from our default variables. The `font-size` is calculated to exist
 *    in ems, the `line-height` is calculated to exist unitlessly.
 * 2. Force scrollbars to always be visible to prevent awkward 'jumps' when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 * 4. Fonts on OSX will look more consistent with other systems that do not
 *    render text using sub-pixel anti-aliasing.
 */
html {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1em;
  /* [1] */
  line-height: 1.75;
  /* [1] */
  background-color: #FFFFFF;
  color: #505050;
  overflow-y: scroll;
  /* [2] */
  min-height: 100%;
  /* [3] */
  -moz-osx-font-smoothing: grayscale;
  /* [4] */
  -webkit-font-smoothing: antialiased;
  /* [4] */ }

/* [2] */
/* ==========================================================================
   HEADINGS
   ========================================================================== */
/**
 * A modified version of heading-size mixin from
 * https://gist.github.com/lolmaus/7825675
 *
 * @param   $max-size:    $heading-size-max
 * @param   $min-size:    $heading-size-min
 * @param   $max-heading: 1
 * @param   $min-heading: 6
 * @param   $ratio:       $golden
 * @param   $debug:       false
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  text-rendering: optimizeLegibility;
  word-wrap: break-word; }

h6,
.h6 {
  font-size: 1rem;
  line-height: 1.3; }

h5,
.h5 {
  font-size: 1.0535979505rem;
  line-height: 1.3; }

h4,
.h4 {
  font-size: 1.1403194343rem;
  line-height: 1.3; }

h3,
.h3 {
  font-size: 1.2806347952rem;
  line-height: 1.3; }

h2,
.h2 {
  font-size: 1.5076650492rem;
  line-height: 1.3; }

h1,
.h1 {
  font-size: 1.875rem;
  line-height: 1.3; }

@media only screen and (min-width: 64.0625em) {
  h1, h2, h3, h4, h5, h6 {
    word-wrap: normal; }
  h6,
  .h6 {
    font-size: 1rem;
    line-height: 1.5; }
  h5,
  .h5 {
    font-size: 1.0765685007rem;
    line-height: 1.3933158912; }
  h4,
  .h4 {
    font-size: 1.2004563348rem;
    line-height: 1.249524832; }
  h3,
  .h3 {
    font-size: 1.4009068503rem;
    line-height: 1.0707350026; }
  h2,
  .h2 {
    font-size: 1.7252357845rem;
    line-height: 1.7388927513; }
  h1,
  .h1 {
    font-size: 2.25rem;
    line-height: 1.3333333333; } }

/* [3] */
/* ==========================================================================
   PARAGRAPHS
   ========================================================================== */
/**
 * The `.lede` class is used to make the introductory text (usually a paragraph)
 * of a document slightly larger: en.wikipedia.org/wiki/Lede_(news)
 *
 * Predefine the variables below in order to alter and enable specific features.
 */
.lede {
  font-size: 1.125rem;
  line-height: 1.3333333333; }

/* [4] */
/* ==========================================================================
   LINKS
   ========================================================================== */
a {
  color: #3498DB;
  text-decoration: none;
  line-height: inherit;
  -webkit-transition: color 0.3s ease-out 0s;
  transition: color 0.3s ease-out 0s; }
  a:hover, a:focus {
    color: #5dade2; }
  a img {
    border: none; }

/* [5] */
/* ==========================================================================
   IMAGES
   ========================================================================== */
/**
 * 1. Fluid images for responsive purposes.
 * 2. Offset `alt` text from surrounding copy.
 * 3. Setting `vertical-align` removes the whitespace that appears under `img`
 *    elements when they are dropped into a page as-is. Safer alternative to
 *    using `display: block;`.
 */
img {
  max-width: 100%;
  /* [1] */
  height: auto;
  /* [1] */
  font-style: italic;
  /* [2] */
  vertical-align: middle;
  /* [3] */ }

/**
 * 1. Google Maps breaks if `max-width: 100%` acts upon it; use their selector
 *    to remove the effects.
 * 2. If a `width` and/or `height` attribute have been explicitly defined, let’s
 *    not make the image fluid.
 */
.gm-style img,
img[width],
img[height] {
  /* [2] */
  max-width: none; }

.img-icon {
  max-width: 2rem;
  max-height: 2rem; }

/* [6] */
/* ==========================================================================
   LIST
   ========================================================================== */
/**
 * Remove extra vertical spacing when nesting lists.
 */
li > ul,
li > ol {
  margin-bottom: 0; }

/* [7] */
/* ==========================================================================
   HR
   ========================================================================== */
hr {
  border: solid #ccc;
  border-width: 1px 0 0;
  margin: 1.75rem 0 1.6875rem;
  clear: both;
  height: 0; }

/* [8] */
/* ==========================================================================
   BLOCKQUOTE
   ========================================================================== */
blockquote footer, blockquote small {
  display: block;
  font-size: 0.75rem;
  line-height: 2;
  color: #858585; }
  blockquote footer:before, blockquote small:before {
    content: '\2014 \00A0'; }

::-moz-selection {
  background: #1076ca;
  color: #FFFFFF;
  text-shadow: none; }

::selection {
  background: #1076ca;
  color: #FFFFFF;
  text-shadow: none; }

::-moz-selection {
  background: #1076ca;
  color: #FFFFFF;
  text-shadow: none; }

::-webkit-selection {
  background: #1076ca;
  color: #FFFFFF;
  text-shadow: none; }

/*
   Objects
   ========================================================================== */
/**
 * objects, abstractions, and design patterns
 * (e.g. .media {}, .button{}, .list{}).
 *
 * [1]  Grids
 * [2]  Block
 * [3]  Box
 * [4]  Buttons
 * [5]  Flag
 * [6]  List Block
 * [7]  List Dull
 * [8]  List Inline
 * [9]  List UI
 * [10] Media
 * [11] Pack
 * [12] Table
 */
/* [1] */
/*
   Default grid classess
   ========================================================================== */
/*
   Grid unit modifier
   ========================================================================== */
/* ==========================================================================
   GRIDS
   ========================================================================== */
/**
 * Fully customizable and responsive CSS grids.
 *
 * Here we set a variable assuming that default and module settings
 * are not set globally. If they have been previously been defined,
 * the following variable will be overriden and will be set to `true`.
 */
/*
   Grids settings.
   ========================================================================== */
/**
 * We use these as default total columns throughout the framework.
 */
/*
   Default grid classess
   ========================================================================== */
/*
   Grid unit modifier
   ========================================================================== */
/*
   Default Grid Classes
   ========================================================================== */
.grid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 1000px; }
  .grid--bleed {
    padding-left: 0.875rem;
    padding-right: 0.875rem; }
    .grid--bleed > .grid__item {
      padding-left: 0;
      padding-right: 0; }
    .grid--bleed .grid {
      margin-left: 0;
      margin-right: 0; }
  .grid .grid {
    width: auto;
    margin-left: -0.875rem;
    margin-right: -0.875rem;
    max-width: none; }

.grid__item {
  position: relative;
  padding-left: 0.875rem;
  padding-right: 0.875rem;
  float: left; }

@media only screen {
  .small-1 {
    width: 100%; }
  .small-1of2 {
    width: 50%; }
  .grid__item.small-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }
  .grid__item.small-centered:last-child {
    float: none; }
  .small-1of3 {
    width: 33.3333333333%; }
  .small-2of3 {
    width: 66.6666666667%; }
  .grid__item.small-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }
  .grid__item.small-centered:last-child {
    float: none; }
  .small-1of4 {
    width: 25%; }
  .small-3of4 {
    width: 75%; }
  .grid__item.small-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }
  .grid__item.small-centered:last-child {
    float: none; }
  .small-1of5 {
    width: 20%; }
  .small-2of5 {
    width: 40%; }
  .small-3of5 {
    width: 60%; }
  .small-4of5 {
    width: 80%; }
  .grid__item.small-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }
  .grid__item.small-centered:last-child {
    float: none; } }

@media only screen and (min-width: 45.0625em) {
  .medium-1 {
    width: 100%; }
  .medium-1of2 {
    width: 50%; }
  .grid__item.medium-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }
  .grid__item.medium-centered:last-child {
    float: none; }
  .medium-1of3 {
    width: 33.3333333333%; }
  .medium-2of3 {
    width: 66.6666666667%; }
  .grid__item.medium-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }
  .grid__item.medium-centered:last-child {
    float: none; }
  .medium-1of4 {
    width: 25%; }
  .medium-3of4 {
    width: 75%; }
  .grid__item.medium-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }
  .grid__item.medium-centered:last-child {
    float: none; }
  .medium-1of5 {
    width: 20%; }
  .medium-2of5 {
    width: 40%; }
  .medium-3of5 {
    width: 60%; }
  .medium-4of5 {
    width: 80%; }
  .grid__item.medium-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }
  .grid__item.medium-centered:last-child {
    float: none; } }

@media only screen and (min-width: 64.0625em) {
  .large-1 {
    width: 100%; }
  .large-1of2 {
    width: 50%; }
  .grid__item.large-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }
  .grid__item.large-centered:last-child {
    float: none; }
  .large-1of3 {
    width: 33.3333333333%; }
  .large-2of3 {
    width: 66.6666666667%; }
  .grid__item.large-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }
  .grid__item.large-centered:last-child {
    float: none; }
  .large-1of4 {
    width: 25%; }
  .large-3of4 {
    width: 75%; }
  .grid__item.large-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }
  .grid__item.large-centered:last-child {
    float: none; }
  .large-1of5 {
    width: 20%; }
  .large-2of5 {
    width: 40%; }
  .large-3of5 {
    width: 60%; }
  .large-4of5 {
    width: 80%; }
  .grid__item.large-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }
  .grid__item.large-centered:last-child {
    float: none; } }

/* [2] */
/* [3] */
/* [4] */
/* ==========================================================================
   BUTTONS
   ========================================================================== */
/**
 * A simple button object.
 */
/**
 * Here we set a variable assuming that 'box-sizing: border-box;' is not
 * set globally. If it has been previously been defined,
 * the following variable will be overriden and will be set to 'true'.
 */
/**
 * 1. Allow us to style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Reset/normalize some styles.
 * 4. Force all button-styled elements to appear clickable.
 * 5. Subtract the border size from the padding value so that buttons do not
 *    grow larger as we add borders.
 */
.btn {
  display: inline-block;
  /* [1] */
  vertical-align: middle;
  /* [2] */
  font-weight: normal;
  /* [3] */
  position: relative;
  /* [3] */
  text-align: center;
  /* [3] */
  margin: 0;
  /* [3] */
  white-space: normal;
  /* [3] */
  cursor: pointer;
  /* [4] */
  background-color: #fdfd21;
  border-width: 1px;
  border-style: solid;
  border-color: #caca1a;
  border-radius: 4px;
  -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out;
          transition: color 0.3s ease-out, background-color 0.3s ease-out;
  padding: 0.8125rem 1.6875rem;
  /* [6] */
  font-size: 1rem;
  line-height: 1.5; }
  .btn, .btn:hover, .btn:active, .btn:focus {
    text-decoration: none;
    /* [4] */
    color: #505050; }
  .btn:hover, .btn:focus {
    background-color: #caca1a; }
  .btn:active {
    border-color: #b1b117;
    background-color: #b1b117; }

/**
 * Fix a Firefox bug whereby `input type="submit"` gains 2px extra padding.
 */
.btn::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
   * Small buttons.
   */
.btn--small {
  padding: 0.375rem 0.8125rem;
  /* [6] */
  font-size: 0.8rem;
  line-height: 1.875; }

/**
   * Full-width buttons.
   */
.btn--full {
  width: 100%; }

.btn {
  font-weight: 500; }

.btn--with-icon {
  position: relative; }

.btn__text,
.btn__icon {
  display: inline-block;
  vertical-align: middle; }

.btn--secondary {
  background-color: #1076ca;
  border-width: 1px;
  border-style: solid;
  border-color: #0d5ea2;
  border-radius: 4px;
  -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out;
          transition: color 0.3s ease-out, background-color 0.3s ease-out; }
  .btn--secondary, .btn--secondary:hover, .btn--secondary:active, .btn--secondary:focus {
    text-decoration: none;
    /* [4] */
    color: #FFFFFF; }
  .btn--secondary:hover, .btn--secondary:focus {
    background-color: #0d5ea2; }
  .btn--secondary:active {
    border-color: #0b538d;
    background-color: #0b538d; }

/* [5] */
/* ==========================================================================
   FLAG
   ========================================================================== */
/**
 * The flag object is a design pattern similar to the media object, however it
 * utilises `display: table[-cell];` to give us control over the vertical
 * alignments of the text and image. csswizardry.com/2013/05/the-flag-object
 */
/**
 * 1. Allows us to control vertical alignments
 * 2. Force the object to be the full width of its parent. Combined with [1],
 *    this makes the object behave in a quasi-`display: block;` manner.
 */
.flag {
  display: table;
  /* [1] */
  width: 100%;
  /* [2] */ }

/**
   * Items within a flag object. There should only ever be one of each.
   *
   * 1. Default to aligning content to their middles.
   */
.flag__img,
.flag__body {
  display: table-cell;
  vertical-align: middle;
  /* [1] */ }

/**
   * Flag images have a space between them and the body of the object.
   */
.flag__img {
  padding-right: 1.75rem;
  /**
     * Tiny flags.
     */
  /**
       * Tiny reversed flags.
       */
  /**
     * Small flags.
     */
  /**
       * Small reversed flags.
       */
  /**
     * Large flags.
     */
  /**
     * Huge flags.
     */ }
  .flag__img > img {
    display: block;
    max-width: none; }
  .flag--tiny > .flag__img {
    padding-right: 0.4375rem; }
  .flag--small > .flag__img {
    padding-right: 0.4375rem; }

/**
   * The container for the main content of the flag object.
   *
   * 1. Forces the `.flag__body` to take up all remaining space.
   */
.flag__body {
  width: 100%;
  /* [1] */ }

/* [6] */
/* [7] */
/* [8] */
/* ==========================================================================
   LIST-INLINE
   ========================================================================== */
/**
 * The list-inline object simply displays a list of items in one line.
 */
.list-inline,
.breadcrumb,
.footer__nav,
.pagination {
  margin: 0;
  padding: 0;
  list-style: none; }

.list-inline__item,
.breadcrumb__item,
.pagination__item {
  display: inline-block; }

/* [9] */
/* [10] */
/* [11] */
/* [12] */
/*
   COMPONENTS
   ========================================================================== */
/**
 * Discrete, complete chunks of UI (e.g. .carousel {}, .topbar{}).
 * This is the one layer that the framework doesn't get involved with.
 * So, import your own components here and do your magic!
 */
@-webkit-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0); } }

@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0); } }

.shake {
  -webkit-animation-name: shake;
  animation-name: shake; }

@-webkit-keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0); }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0); }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0); }
  to {
    -webkit-transform: none;
    transform: none; } }

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0); }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0); }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0); }
  to {
    -webkit-transform: none;
    transform: none; } }

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }

@keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp; }

/* ==========================================================================
   Alert Box
   ========================================================================== */
.alert {
  position: relative;
  display: block;
  padding: 0.875rem;
  margin-bottom: 1.75rem;
  border-left-color: #bebebe;
  border-left-width: 4px;
  border-left-style: solid;
  background-color: #EEEEEE;
  -webkit-transition: opacity 0.3s ease-out 0s;
  transition: opacity 0.3s ease-out 0s; }

.alert__heading {
  font-weight: 500;
  margin-bottom: 0.875rem; }

.alert__content {
  margin: 0; }

.alert__close {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.7;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;
  cursor: pointer;
  padding: 0.3125rem; }

.alert--error {
  background-color: #F25F5C;
  border-left-color: #c24c4a;
  color: #FFFFFF; }
  .alert--error .alert__close {
    color: #c24c4a; }

.alert--success {
  background-color: #02C39A;
  border-left-color: #029c7b; }
  .alert--success .alert__close {
    color: #029c7b; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.alert-in,
.alert-out {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.alert-in.alert--success {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
  -webkit-animation-duration: .75s;
  animation-duration: .75s; }

.alert-in.alert--error {
  -webkit-animation-name: shake;
  animation-name: shake; }

.alert-out {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
  -webkit-animation-duration: .7s;
  animation-duration: .7s; }

.icon {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor; }

.icon--large {
  font-size: 2rem; }

.icon--huge {
  font-size: 3rem; }

.icon--footer {
  font-size: 2rem; }
  @media only screen and (min-width: 45.0625em) {
    .icon--footer {
      font-size: 3rem; } }

/* =======================================================================================
Example showing how to change the color/size of the icons:
.icon--name {
  font-size: 32px; // works because "width" & "height" were set using em units
  color: red; // works for single-colored icons, because "fill" was set to "currentColor"
}
======================================================================================== */
.block-list {
  display: block;
  padding: 0;
  margin: 0 -0.875rem; }
  .block-list__item {
    list-style: none;
    display: block;
    float: left;
    height: auto;
    padding: 0 0.875rem 1.75rem; }
    .block-list--small-1 > .block-list__item {
      width: 100%; }
    .block-list--small-1 > .block-list__item:nth-of-type(1n) {
      clear: none; }
    .block-list--small-1 > .block-list__item:nth-of-type(1n+1) {
      clear: both; }
    .block-list--small-2 > .block-list__item {
      width: 50%; }
    .block-list--small-2 > .block-list__item:nth-of-type(1n) {
      clear: none; }
    .block-list--small-2 > .block-list__item:nth-of-type(2n+1) {
      clear: both; }
    @media only screen and (min-width: 45.0625em) {
      .block-list--medium-2 > .block-list__item {
        width: 50%; }
      .block-list--medium-2 > .block-list__item:nth-of-type(1n) {
        clear: none; }
      .block-list--medium-2 > .block-list__item:nth-of-type(2n+1) {
        clear: both; }
      .block-list--medium-3 > .block-list__item {
        width: 33.33333%; }
      .block-list--medium-3 > .block-list__item:nth-of-type(1n) {
        clear: none; }
      .block-list--medium-3 > .block-list__item:nth-of-type(3n+1) {
        clear: both; } }
    @media only screen and (min-width: 64.0625em) {
      .block-list--large-3 > .block-list__item {
        width: 33.33333%; }
      .block-list--large-3 > .block-list__item:nth-of-type(1n) {
        clear: none; }
      .block-list--large-3 > .block-list__item:nth-of-type(3n+1) {
        clear: both; }
      .block-list--large-4 > .block-list__item {
        width: 25%; }
      .block-list--large-4 > .block-list__item:nth-of-type(1n) {
        clear: none; }
      .block-list--large-4 > .block-list__item:nth-of-type(4n+1) {
        clear: both; } }

/* Required rules for Slick Slider */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-slide {
  outline: none; }
  .slick-slide img {
    margin-left: auto;
    margin-right: auto; }

.slide-nav {
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
  z-index: 1;
  line-height: 0;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  cursor: pointer;
  color: #FFFFFF;
  border: none;
  outline: none;
  background: #1076ca; }
  .slide-nav.slide-nav--prev {
    left: 0; }
  .slide-nav.slide-nav--next {
    right: 0; }

.slide-nav.slick-disabled {
  opacity: .25; }

.slide-wrapper {
  display: block;
  width: 100%;
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  position: relative; }

.slide {
  height: 12.5rem;
  overflow: hidden; }
  @media only screen and (min-width: 64.0625em) {
    .slide {
      height: 31.25rem; } }
  .slide.slick-initialized {
    height: auto !important;
    overflow: visible; }

.slide__item {
  display: block; }

/* Dots */
.slick-dots {
  position: absolute;
  bottom: 1.75rem;
  z-index: 1;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center; }

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent; }

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: .25;
  line-height: 1;
  background: #1076ca; }

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black; }

/* ==========================================================================
   PAGE HEAD
   ========================================================================== */
.page-wrapper {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.875rem;
  padding-right: 0.875rem; }

.page-head {
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  border-bottom: 4px solid #1076ca;
  background-color: #FFFFFF; }

.page-title {
  color: #1076ca;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase; }

.page-section {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem; }
  .page-section.page-section--small {
    padding-top: 0.875rem;
    padding-bottom: 0.875rem; }
  .page-section.page-section--gray {
    background-color: #F7F7F7; }

.page-footer {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  background-color: #25aae2;
  color: #FFFFFF; }
  .page-footer .page-title {
    color: #FFFFFF; }
  .page-footer a {
    color: #FFFFFF; }
    .page-footer a:hover {
      color: #cccccc; }

/* ==========================================================================
   PRODUCT BLOCK
   ========================================================================== */
.product-block {
  position: relative;
  margin: 0;
  padding-bottom: 0.875rem;
  text-align: center;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #1076ca; }

.product-block__overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 170, 226, 0.5);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out; }
  .product-block__overlay, .product-block__overlay:hover, .product-block__overlay:focus {
    color: #FFFFFF; }
  .product-block:hover > .product-block__overlay {
    opacity: 1;
    visibility: visible; }

.product-block__overlay__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.product-block__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.875rem; }

.product-block__caption {
  font-size: 0.875rem; }

.product-block__title {
  margin-bottom: 0.875rem;
  font-weight: 500;
  color: #25aae2; }

/* ==========================================================================
   FORM ELEMENTS
   ========================================================================== */
fieldset {
  padding: 28px; }

input[type="checkbox"],
input[type="radio"] {
  position: relative;
  top: 2px; }

input[type="file"] {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  width: 100%; }

.label {
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 0.0625rem;
  display: block; }
  .input-error .label {
    color: #F25F5C; }
  .input-success .label {
    color: #02C39A; }
  .label abbr {
    display: none; }
  .label.label--inline {
    display: inline-block; }

.label--required:after {
  content: "*";
  color: #F25F5C; }

.input {
  padding: 0.4375rem 0.875rem;
  height: 2rem;
  background-color: #FFFFFF;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: #CCCCCC;
  border-radius: 4px;
  box-sizing: border-box;
  -webkit-transition: border-color 0.3s ease-out 0s;
  transition: border-color 0.3s ease-out 0s; }
  .input:hover, .input:focus {
    border-color: #a3a3a3; }
  .input:focus {
    outline: none; }
  .input-error .input {
    border-color: #F25F5C; }
  .input-success .input {
    border-color: #02C39A; }
  .input.input--border-less {
    border-top: none;
    border-left: none;
    border-right: none; }
  .input.input--full {
    width: 100%; }
  .input.input--textarea {
    resize: vertical;
    height: 5.25rem; }

.field-row {
  position: relative;
  margin-bottom: 1rem; }

.field-row__msg {
  display: block;
  color: #999999;
  font-style: italic; }
  .input-error .field-row__msg {
    color: #F25F5C; }
  .input-success .field-row__msg {
    color: #02C39A; }

@media only screen and (min-width: 45.0625em) {
  .field-row--horizontal .label {
    float: left;
    line-height: 2rem;
    padding-right: 0.875rem;
    text-align: right; }
  .field-row--horizontal .input {
    float: right; } }

.input-important {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 0;
  height: 0; }

.site-nav {
  font-size: 0.75rem;
  line-height: 2; }
  @media only screen and (min-width: 34.4375em) {
    .site-nav {
      font-size: 1rem; } }

.site-nav__logo {
  position: relative;
  display: block;
  width: 4.375rem;
  height: 3.75rem;
  float: left; }
  @media only screen and (min-width: 64.0625em) {
    .site-nav__logo {
      width: 18.125rem; } }

.site-nav__logo-img {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%); }

.site-nav__phone {
  display: none;
  font-weight: 500; }
  @media only screen and (min-width: 34.4375em) {
    .site-nav__phone {
      display: block;
      padding-right: 0.875rem;
      padding-left: 0.875rem;
      text-align: right;
      line-height: 1.875rem;
      color: #1076ca; } }

.site-nav__list {
  margin: 0;
  padding: 0 0 0 0.875rem;
  list-style-type: none;
  overflow: hidden; }
  @media only screen and (min-width: 34.4375em) {
    .site-nav__list {
      float: right;
      overflow: visible; } }

.site-nav__item {
  float: left;
  width: 50%; }
  @media only screen and (min-width: 34.4375em) {
    .site-nav__item {
      width: auto; } }

.site-nav__link {
  display: block;
  padding-right: 0.875rem;
  padding-left: 0.875rem;
  line-height: 1.875rem;
  color: #1076ca;
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out; }
  .site-nav__link:hover, .site-nav__link:focus {
    background-color: rgba(16, 118, 202, 0.5);
    color: #FFFFFF; }
  .site-nav__link.is-active {
    background-color: #1076ca;
    color: #FFFFFF; }

.breadcrumb {
  font-size: 1rem; }
  .breadcrumb__item:before {
    content: "»";
    font-size: 1rem;
    margin-right: 5px;
    margin-left: 5px;
    position: relative;
    top: -.1em; }
  .breadcrumb__item:first-child:before {
    content: '';
    margin: 0; }
  .breadcrumb__item:last-child > .breadcrumb__item__link {
    font-weight: 700; }

.footer {
  display: block;
  min-height: 4.375rem;
  border-top: 0.3125rem solid #25aae2;
  box-sizing: content-box;
  background-color: #1076ca;
  color: #FFFFFF; }

.footer__info {
  display: table;
  height: 4.375rem;
  float: left;
  line-height: 1.1; }

.footer__info__item {
  display: table-cell;
  vertical-align: middle;
  font-size: 0.75rem;
  line-height: 1.1; }

.footer__nav {
  font-size: 0; }

.footer__nav__item {
  display: inline-block;
  vertical-align: top; }

.footer__nav__link {
  position: relative;
  display: block;
  height: 4.375rem;
  padding: 0.875rem;
  color: #FFFFFF;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 2.625rem;
  -webkit-transition: background 200ms ease-out, color 200ms ease-out;
          transition: background 200ms ease-out, color 200ms ease-out; }
  .footer__nav__link:hover, .footer__nav__link:active, .footer__nav__link.is-active {
    color: #FFFFFF;
    background-color: #1e88b5; }
    .footer__nav__link:hover::before, .footer__nav__link:active::before, .footer__nav__link.is-active::before {
      opacity: 1; }

/* ==========================================================================
   SIDEBAR
   ========================================================================== */
.sidebar {
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  margin-bottom: 1.75rem; }
  @media only screen and (min-width: 45.0625em) {
    .sidebar {
      margin-bottom: 0; } }

.sidebar__head {
  padding: 0.875rem; }

.sidebar__list {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .sidebar__list.sidebar__list--submenu {
    width: 100%;
    display: none; }
    .is-hover > .sidebar__list.sidebar__list--submenu,
    .is-open > .sidebar__list.sidebar__list--submenu {
      display: block; }

.sidebar__item {
  display: block;
  border-top: 1px solid #DDDDDD; }
  .sidebar__item.has-submenu {
    position: relative; }

.sidebar__link {
  position: relative;
  display: block;
  padding: 0.4375rem 0.875rem;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: transparent; }
  .is-hover > .sidebar__link,
  .is-active > .sidebar__link {
    border-left-color: #1076ca; }
  .sidebar__list--submenu .sidebar__link {
    color: #FFFFFF;
    background-color: #1076ca; }
  .sidebar__list--submenu .sidebar__link.is-active,
  .sidebar__list--submenu .sidebar__link:hover {
    background-color: #25aae2; }

.sidebar__icon {
  position: absolute;
  right: 0.875rem;
  top: 50%;
  z-index: 2;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%); }
  .is-open > .sidebar__link > .sidebar__icon {
    -webkit-transform: translate(0, -50%) rotate(90deg);
        -ms-transform: translate(0, -50%) rotate(90deg);
            transform: translate(0, -50%) rotate(90deg); }

/* ==========================================================================
   Pagination Build on top CSSKit
   ========================================================================== */
.pagination__link {
  display: inline-block;
  padding: 0.4375rem;
  line-height: 1;
  color: #505050;
  border-width: 0;
  border-style: solid;
  border-color: #EEEEEE;
  border-radius: 3px; }
  .pagination__link:hover, .pagination__link:active {
    color: #FFFFFF;
    background-color: #4ba0c4; }
  .pagination__link.is-disabled {
    color: rgba(80, 80, 80, 0.4);
    pointer-events: none; }
  .pagination__link.is-active {
    border-color: #1e88b5;
    color: #FFFFFF;
    background-color: #1e88b5; }
  .pagination__link.is-empty {
    border-width: 0; }

/*
   DIFFERENT VARIANT
   ========================================================================== */
@media only screen and (max-width: 64em) {
  .pagination--responsive .pagination__link:not(.is-button) {
    display: none; } }

/*
   Helpers
   ========================================================================== */
/**
 * High-specificity, very explicit selectors.
 * Overrides and helper classes (e.g. .hidden {}).
 *
 * [1] Clearfix
 * [2] Float
 * [3] Text transform
 * [4] Alignment
 * [4+] Alignment Responsive
 * [5] Spacing
 * [5+] Spacing Responsive
 * [6] Visibility
 * [6+] Visibility Responsive
 * [7] Print
 */
/* [1] */
/* ==========================================================================
   CLEARFIX
   ========================================================================== */
/**
 * Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
 * Extend the clearfix class with Sass to avoid the `.clearfix` class appearing
 * over and over in your markup.
 */
.clearfix:before, .clearfix:after,
.grid:before,
.block-list:before,
.page-wrapper:before,
.field-row--horizontal:before,
.footer:before,
.grid:after,
.block-list:after,
.page-wrapper:after,
.field-row--horizontal:after,
.footer:after {
  content: " ";
  display: table; }

.clearfix:after,
.grid:after,
.block-list:after,
.page-wrapper:after,
.field-row--horizontal:after,
.footer:after {
  clear: both; }

/* [2] */
/* [3] */
/* [4] */
/* ==========================================================================
   Text Alignment
   ========================================================================== */
.text-center {
  text-align: center !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-justify {
  text-align: justify !important; }

/* ==========================================================================
   Responsive Text Alignment
   ========================================================================== */
@media only screen and (max-width: 45em) {
  .small-only-text-left {
    text-align: left !important; }
  .small-only-text-right {
    text-align: right !important; }
  .small-only-text-center {
    text-align: center !important; }
  .small-only-text-justify {
    text-align: justify !important; } }

@media only screen {
  .small-text-left {
    text-align: left !important; }
  .small-text-right {
    text-align: right !important; }
  .small-text-center {
    text-align: center !important; }
  .small-text-justify {
    text-align: justify !important; } }

@media only screen and (min-width: 45.0625em) and (max-width: 64em) {
  .medium-only-text-left {
    text-align: left !important; }
  .medium-only-text-right {
    text-align: right !important; }
  .medium-only-text-center {
    text-align: center !important; }
  .medium-only-text-justify {
    text-align: justify !important; } }

@media only screen and (min-width: 45.0625em) {
  .medium-text-left {
    text-align: left !important; }
  .medium-text-right {
    text-align: right !important; }
  .medium-text-center {
    text-align: center !important; }
  .medium-text-justify {
    text-align: justify !important; } }

@media only screen and (min-width: 64.0625em) and (max-width: 90em) {
  .large-only-text-left {
    text-align: left !important; }
  .large-only-text-right {
    text-align: right !important; }
  .large-only-text-center {
    text-align: center !important; }
  .large-only-text-justify {
    text-align: justify !important; } }

@media only screen and (min-width: 64.0625em) {
  .large-text-left {
    text-align: left !important; }
  .large-text-right {
    text-align: right !important; }
  .large-text-center {
    text-align: center !important; }
  .large-text-justify {
    text-align: justify !important; } }

/* [5] */
/* ==========================================================================
   SPACING
   ========================================================================== */
/**
 * Margin and padding helper classes. Use these to tweak layout on a micro
 * level.
 *
 * `.(m|p)(t|r|b|l|h|v)(-|+|0) {}` = margin/padding top/right/bottom/left/horizontal/vertical less/more/none
 */
/**
   * Margin helper classes.
   *
   * Add margins.
   */
.m {
  margin: 1.75rem !important; }

.mt {
  margin-top: 1.75rem !important; }

.mr {
  margin-right: 1.75rem !important; }

.mb {
  margin-bottom: 1.75rem !important; }

.ml {
  margin-left: 1.75rem !important; }

.mh {
  margin-right: 1.75rem !important;
  margin-left: 1.75rem !important; }

.mv {
  margin-top: 1.75rem !important;
  margin-bottom: 1.75rem !important; }

/**
   * Add tiny margins.
   */
.m-- {
  margin: 0.4375rem !important; }

.mt-- {
  margin-top: 0.4375rem !important; }

.mr-- {
  margin-right: 0.4375rem !important; }

.mb-- {
  margin-bottom: 0.4375rem !important; }

.ml-- {
  margin-left: 0.4375rem !important; }

.mh-- {
  margin-right: 0.4375rem !important;
  margin-left: 0.4375rem !important; }

.mv-- {
  margin-top: 0.4375rem !important;
  margin-bottom: 0.4375rem !important; }

/**
   * Add small margins.
   */
.m- {
  margin: 0.875rem !important; }

.mt- {
  margin-top: 0.875rem !important; }

.mr- {
  margin-right: 0.875rem !important; }

.mb- {
  margin-bottom: 0.875rem !important; }

.ml- {
  margin-left: 0.875rem !important; }

.mh- {
  margin-right: 0.875rem !important;
  margin-left: 0.875rem !important; }

.mv- {
  margin-top: 0.875rem !important;
  margin-bottom: 0.875rem !important; }

/**
   * Add large margins.
   */
.m\+ {
  margin: 3.5rem !important; }

.mt\+ {
  margin-top: 3.5rem !important; }

.mr\+ {
  margin-right: 3.5rem !important; }

.mb\+ {
  margin-bottom: 3.5rem !important; }

.ml\+ {
  margin-left: 3.5rem !important; }

.mh\+ {
  margin-right: 3.5rem !important;
  margin-left: 3.5rem !important; }

.mv\+ {
  margin-top: 3.5rem !important;
  margin-bottom: 3.5rem !important; }

/**
   * Padding helper classes.
   *
   * Add paddings.
   */
.p {
  padding: 1.75rem !important; }

.pt {
  padding-top: 1.75rem !important; }

.pr {
  padding-right: 1.75rem !important; }

.pb {
  padding-bottom: 1.75rem !important; }

.pl {
  padding-left: 1.75rem !important; }

.ph {
  padding-right: 1.75rem !important;
  padding-left: 1.75rem !important; }

.pv {
  padding-top: 1.75rem !important;
  padding-bottom: 1.75rem !important; }

/**
   * Add tiny paddings.
   */
.p-- {
  padding: 0.4375rem !important; }

.pt-- {
  padding-top: 0.4375rem !important; }

.pr-- {
  padding-right: 0.4375rem !important; }

.pb-- {
  padding-bottom: 0.4375rem !important; }

.pl-- {
  padding-left: 0.4375rem !important; }

.ph-- {
  padding-right: 0.4375rem !important;
  padding-left: 0.4375rem !important; }

.pv-- {
  padding-top: 0.4375rem !important;
  padding-bottom: 0.4375rem !important; }

/**
   * Add small paddings.
   */
.p- {
  padding: 0.875rem !important; }

.pt- {
  padding-top: 0.875rem !important; }

.pr- {
  padding-right: 0.875rem !important; }

.pb- {
  padding-bottom: 0.875rem !important; }

.pl- {
  padding-left: 0.875rem !important; }

.ph- {
  padding-right: 0.875rem !important;
  padding-left: 0.875rem !important; }

.pv- {
  padding-top: 0.875rem !important;
  padding-bottom: 0.875rem !important; }

/**
   * Add large paddings.
   */
.p\+ {
  padding: 3.5rem !important; }

.pt\+ {
  padding-top: 3.5rem !important; }

.pr\+ {
  padding-right: 3.5rem !important; }

.pb\+ {
  padding-bottom: 3.5rem !important; }

.pl\+ {
  padding-left: 3.5rem !important; }

.ph\+ {
  padding-right: 3.5rem !important;
  padding-left: 3.5rem !important; }

.pv\+ {
  padding-top: 3.5rem !important;
  padding-bottom: 3.5rem !important; }

/* [6] */
/* ==========================================================================
   Responsive Visibility Classes
   ========================================================================== */
/* small displays */
@media only screen {
  .show-for-small-only, .show-for-small-up, .hide-for-medium-only, .hide-for-medium-up, .hide-for-large-only, .hide-for-large-up {
    display: inherit !important; }
  .hide-for-small-only, .hide-for-small-up, .show-for-medium-only, .show-for-medium-up, .show-for-large-only, .show-for-large-up {
    display: none !important; } }

/* medium displays */
@media only screen and (min-width: 45.0625em) {
  .hide-for-small-only, .show-for-small-up, .show-for-medium-only, .show-for-medium-up, .hide-for-large-only, .hide-for-large-up {
    display: inherit !important; }
  .show-for-small-only, .hide-for-small-up, .hide-for-medium-only, .hide-for-medium-up, .show-for-large-only, .show-for-large-up {
    display: none !important; } }

/* large displays */
@media only screen and (min-width: 64.0625em) {
  .hide-for-small-only, .show-for-small-up, .hide-for-medium-only, .show-for-medium-up, .show-for-large-only, .show-for-large-up {
    display: inherit !important; }
  .show-for-small-only, .hide-for-small-up, .show-for-medium-only, .hide-for-medium-up, .hide-for-large-only, .hide-for-large-up {
    display: none !important; } }

/* [7] */
.text-primary {
  color: #1076ca; }

.text-primary-light {
  color: #25aae2; }

.text-underline {
  text-decoration: underline; }